.dropdown-menu {
    width: 100%;
}

.btn {
    width: 100%;
}

list_update_info {
    font-style: italic;
    font-size: 85%;
}

th {
    text-align: center;
}

td {
    vertical-align: middle;
    color: dimgrey;
}

td.medal {
    width: 35px;
}

.jumbotron {
    background-color: #F4E6CB;
}

@media only screen and (max-width: 765px) {
    img.big_logo {
        height: 125px;
    }
}