th {
    text-align: center;
}

td {
    vertical-align: middle;
    color: dimgrey;
}

tbody tr td.normal {
    vertical-align: middle;
    text-align: center;
}

table tr th.left_cell {
    text-align: left;
}

.profile {
    height: 35px;
    margin-right: 10px;
}

.medal {
    height: 27px;
}

.medal_acknowledgement {
    text-align: right;
    font-size: 75%;
}

.typcn {
    font-size: 70%;
    padding-left: 2px;
}

index {
    padding: 3px;
    padding-left: 8px;
    padding-right: 5px;
    border-radius: 3px;
}

.first {
    background-color: #FFD700;
    color: aliceblue;
    text-shadow: 2px 2px 8px #D28C47;
}

.second {
    background-color: #E0E0E0;
    color: aliceblue;
    text-shadow: 2px 2px 8px #263238;
}

.third {
    background-color: #D28C47;
    color: aliceblue;
    text-shadow: 2px 2px 8px #263238;
}

.github_entry {
    height: 13px;
    position: absolute;
    bottom: 5px;
    left: 18px;
}

.line_chart_title {
    font-size: 80%;
    height: 20px;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.pie_chart_title {
    font-size: 70%;
    height: 20px;
    position: absolute;
    top: 0px;
    right: 10px;
}