<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align : left">#</th>
                <th style="text-align : left">Name</th>
                <th>Medal</th>
                <th>Total</th>
                <th>Push</th>
                <th>PR</th>
                <th>Create</th>
                <th>Fork</th>
            </tr>
        </thead>
        <tbody ng-cloak>
            <!-- No idea why vertical-align doesn't work when put in css, so I put the configs in each <td>. -->
            <tr ng-class="{'active' : member.expanded }" ng-repeat-start="member in members | orderBy:'-'+order" ng-click="expandCell(member)" ng-init="member.expanded=false">

                <td align="left" style="vertical-align: middle;">

                    <div>
                        <index ng-class="{ 'first' : $index==0, 'second' : $index==1, 'third' : $index==2 }"><b><i>{{ $index + 1 }}.</i></b></index>
                        <span ng-if=" member.ranking_change < 0 && order=='Total' " class="typcn typcn-arrow-up-thick " style="font-size: 70%; color:#2E7D32; padding-left: 2px;"><b>{{ -member.ranking_change }}</b></span>
                        <span ng-if="member.ranking_change==0 && order=='Total' " class="typcn typcn-equals " style="font-size: 70%; color:#FFB300; padding-left: 2px;"></span>
                        <span ng-if="member.ranking_change> 0 && order == 'Total'" class="typcn typcn-arrow-down-thick" style="font-size: 70%; color:#B71C1C; padding-left: 2px;"><b>{{ member.ranking_change }}</b></span>
                        <span ng-if="member.ranking_change=='new' && order == 'Total'" style="font-size: 70%; color:#2196F3; padding-left: 2px;"><b>new</b></span>
                    </div>
                </td>

                <td><img ng-src="{{member.avatar_url}}" height="35px" style="margin-right: 10px"><a ng-href="{{member.html_url}}"> {{ member.login }}</a></td>
                <td class="medal" ng-if="member.Total>=100" style="vertical-align: middle;"><img ng-src="assets/img/champion.png" height="30px" align="center"></td>
                <td class="medal" ng-if="member.Total>=50 && member.Total<100" style="vertical-align: middle;"><img ng-src="assets/img/gold.png" height="35px" align="center"></td>
                <td class="medal" ng-if="member.Total>=20 && member.Total<50" style="vertical-align: middle;"><img ng-src="assets/img/silver.png" height="30px" align="center"></td>
                <td class="medal" ng-if="member.Total<20" style="vertical-align: middle;"><img ng-src="assets/img/bronze.png" height="30px" align="center"></td>
                <td align="center" style="vertical-align: middle;"><b>{{ member.Total }}</b></td>
                <td align="center" style="vertical-align: middle;">{{ member.PushEvent }}</td>
                <td align="center" style="vertical-align: middle;">{{ member.PullRequestEvent }}</td>
                <td align="center" style="vertical-align: middle;">{{ member.CreateEvent }}</td>
                <td align="center" style="vertical-align: middle;">{{ member.ForkEvent }}</td>
            </tr>

            <tr class="clickable-row details" ng-if="member.expanded" ng-repeat-end="">
                <td colspan="8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-8 col-sm-6" style="margin-top: 20px">
                                <canvas id="line" class="chart chart-line" chart-data="[member.rankings]" chart-legend="true" chart-labels="member.rankings_timestamps" chart-colors="color" chart-series="series" chart-options="options">
                                </canvas>
                            </div>
                            <div class="col-xs-4 col-sm-6">
                                敬请期待...
                            </div>
                        </div>
                    </div>
                </td>
                </trcolor>
        </tbody>
    </table>
</div>