.jumbotron {
    background-color: whitesmoke;
}

.dropdown-menu {
    width: 100%;
}

.btn {
    width: 100%;
}

list_update_info {
    font-style: italic;
    font-size: 85%;
}

.github_disclaimer {
    position: absolute;
    bottom: 0px;
    right: 25px;
}

@media only screen and (max-width: 765px) {
    .big_logo {
        height: 140px;
    }
}