<div class='row'>
    <div class='col-lg-12'>
        <div class='bs-component'>
            <div class='jumbotron'>
                <h1><b>太阁极客榜</b></h1>
                <figure style="position: absolute; top: 10px; right: 30px;">
                    <img class="big_logo" height="265px" ng-src="assets/img/viking.png">
                    <figcaption style="font-size:40%; text-align:right"><a href="http://www.freepik.com"><i>Designed by Freepik</i></a></figcaption>
                </figure>
                <p>
                    <b><i>Top 25</i></b> Github geeks!
                </p>
                <div class='row'>
                    <div class='form-group col-md-6'>
                        <div class="dropdown" ng-cloak>
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ order }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="pattern in order_patterns"><a ng-click="dropboxitemselected(pattern)">{{pattern}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <list_update_info>Updated at: {{list_created_time}}</list_update_info>
                <a class="typcn typcn-document-text" data-toggle="modal" data-target="#myModal"></a>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">About</h4>
                            </div>
                            <div class="modal-body">
                                <p style="font-size: 100%"><i>太阁极客榜</i> is a ranking board for BitTiger members. Its results are based on members' Github activities in the past seven days with daily updates at <b>06:30 PDT</b>.
                                    <br>
                                    <br>Happy hacking!</p>
                                <p style="font-size: 50%">* We introduce some top coders in our ranking board to make it more funny.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>